@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "keen-slider/keen-slider.min.css";

@import "tailwindcss";

@font-face {
  font-family: saveurSans;
  src: url("/fonts/Saveur_sans.otf");
}

@layer utilities {
  /* This two helpers apply a -50% to the translate x/y, and add
   * a --y/--x css variable to it. This util is only here to make writing this class
   * a bit easier to read in the HTML :)   */
  .translate-y-centered-offset {
    @apply translate-y-[calc(-50%_+_var(--y))];
  }
  .translate-x-centered-offset {
    @apply translate-x-[calc(-50%_+_var(--x))];
  }
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.9em;
  text-decoration: none;
  transition: color 0.3s;
}

.header-font {
  /* font inter Regular 400, Letter spacing 5% */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #171717;
  text-transform: uppercase;
  font-size: 1.9em;
  text-decoration: none;
  transition: color 0.3s;
}
@media screen and (max-width: 768px) {
  .header-font {
    font-size: 1.5em;
    margin-left: -20px;
  }
}

.big-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #171717;
  font-size: 2.7em;
  text-decoration: none;
  transition: color 0.3s;
}
.medium-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #171717;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s;
}
.small-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #171717;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s;
}
.search-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #171717;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s;
}
.font-footer {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.2em;
  text-decoration: none;
  transition: color 0.3s;
}

.font-montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.font-montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.brand {
  font-family: saveurSans;
  font-size: 1.8em;
  text-decoration: none;
  transition: color 0.3s;
}

.text-gray {
  color: #9b9b9b;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.bg-white-primary {
  background-color: #dddddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2 {
  font-family: "Inter", serif;
  font-weight: 400;
  letter-spacing: 0.05em;
}

/* FOOTER STYLES */
.tit-ca {
  font-size: 0.9em;
  font-weight: bold;
}

footer {
  background-color: #000000;
  color: #ffffff;
}

.foot {
  padding: 2rem 0rem 3rem 0rem;
}

.wrap {
  padding: 0rem 5rem 0rem 5rem;
}

footer .card {
  background-color: #000000;
  border-color: #000000;
}

footer .card p {
  color: gray;
  font-size: 0.9em;
  font-weight: 400;
}

.iconslast,
.foot {
  display: flex;
  justify-content: center;
}

.ig {
  color: gray;
  padding-left: 1rem;
}

/*--------------------------------------------------------------------------------*/
.product-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.4em;
  text-decoration: none;
  transition: color 0.3s;
}
.product-name-black {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 2.4em;
  text-decoration: none;
  transition: color 0.3s;
}
.cookie-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s;
}
.hero-title-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.4em;
  text-decoration: none;
  transition: color 0.3s;
}
.hero-new-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
  transition: color 0.3s;
}
.privacy-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: none;
  transition: color 0.3s;
}
.privacy-text-sm {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  transition: color 0.3s;
}
.lang-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  transition: color 0.3s;
}
.lang-name-hover {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  background: linear-gradient(to right, #000 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.25s ease-out;
}

.lang-name-hover:hover {
  background-position: left bottom;
  color: #fff;
}

.hero-button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
  background: linear-gradient(to right, #000 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.25s ease-out;
}
.hero-button:hover {
  background-position: left bottom;
  color: #fff;
}

.lang-name-white {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  background: linear-gradient(to right, #fff 50%, #000 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.25s ease-out;
}
.lang-name-white:hover {
  background-position: left bottom;
  color: #000;
}
.cookie-desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #525252;
  font-size: 0.9em;
  text-decoration: none;
  transition: color 0.3s;
}
.product-detail-desc-black {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #525252;
  font-size: 1.05em;
  text-decoration: none;
  transition: color 0.3s;
}
.product-detail-desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s;
}
.detail-product-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #171717;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s;
}
.animate-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
  font-size: 2.8em;
  text-decoration: none;
  transition: color 0.3s;
}
.intro-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.6em;
  text-decoration: none;
  transition: color 0.3s;
}
.intro-region-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
  font-size: 0.85em;
  text-decoration: none;
  transition: color 0.3s;
}
.intro-region-name:hover {
  color: #ffffff;
  background-color: #000000;
}
.animate-text-white {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.8em;
  text-decoration: none;
  transition: color 0.3s;
}
.animate-text-white-lower {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s;
}
.animate-text-sm {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
  font-size: 2.6em;
  text-decoration: none;
  transition: color 0.3s;
}
.animate-text-smm {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #696969;
  text-transform: uppercase;
  font-size: 1.6em;
  text-decoration: none;
  transition: color 0.3s;
}
.animate-subtext {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #303030;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  transition: color 0.3s;
}
