@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "keen-slider/keen-slider.min.css";

@import "tailwindcss";

:root {
  --font-family: "Montserrat", sans-serif;
  --letter-spacing: 0.05em;
  --color-text: #1a1a1a;
  --color-subtext: #555;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text);
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* === Headers === */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  font-weight: 700;
}

h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  font-size: 18px;
  line-height: 1.3;
}

h3 {
  font-size: 2rem;
  line-height: 1.3;
}

/* === Subheaders === */
h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-subtext);
}

/* === Paragraphs === */
p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0 0 1em;
  letter-spacing: var(--letter-spacing);
}

.link {
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: var(--letter-spacing);
}
.link-title {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: var(--letter-spacing);
}
.content-subheading {
  font-size: 18px;
  margin-bottom: -20px;
}
.content-heading {
  font-size: 30px;
  line-height: calc(1em + 2px); 
  display: inline-block;
  font-weight: 500;
}
.card-title {
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: var(--letter-spacing);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .content-subheading {
    font-size: 1.5rem;
  }
  .content-heading {
    margin-top: 20px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 2rem;
  }
}

/* === Small Text === */
small {
  font-size: 0.875rem;
  color: var(--color-subtext);
  letter-spacing: var(--letter-spacing);
}

/* === Links === */
a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
}

a:hover {
  text-decoration: underline;
}

@layer utilities {
  /* This two helpers apply a -50% to the translate x/y, and add
   * a --y/--x css variable to it. This util is only here to make writing this class
   * a bit easier to read in the HTML :)   */
  .translate-y-centered-offset {
    @apply translate-y-[calc(-50%_+_var(--y))];
  }
  .translate-x-centered-offset {
    @apply translate-x-[calc(-50%_+_var(--x))];
  }
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.9em;
  text-decoration: none;
  transition: color 0.3s;
}

.header-font {
  /* font inter Regular 400, Letter spacing 5% */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #171717;
  text-transform: uppercase;
  font-size: 1.9em;
  text-decoration: none;
  transition: color 0.3s;
}
@media screen and (max-width: 768px) {
  .header-font {
    font-size: 1.5em;
    margin-left: -20px;
  }
}

.big-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #171717;
  font-size: 2.7em;
  text-decoration: none;
  transition: color 0.3s;
}
.medium-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #171717;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s;
}
.small-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #171717;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s;
}
.search-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #171717;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s;
}
.font-footer {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.2em;
  text-decoration: none;
  transition: color 0.3s;
}

.font-montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.font-montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.brand {
  font-family: saveurSans;
  font-size: 1.8em;
  text-decoration: none;
  transition: color 0.3s;
}

.text-gray {
  color: #9b9b9b;
}

.bg-white-primary {
  background-color: #dddddd;
}

/* FOOTER STYLES */
.tit-ca {
  font-size: 0.9em;
  font-weight: bold;
}

footer {
  background-color: #000000;
  color: #ffffff;
}

.foot {
  padding: 2rem 0rem 3rem 0rem;
}

.wrap {
  padding: 0rem 5rem 0rem 5rem;
}

footer .card {
  background-color: #000000;
  border-color: #000000;
}

footer .card p {
  color: gray;
  font-size: 0.9em;
  font-weight: 400;
}

.iconslast,
.foot {
  display: flex;
  justify-content: center;
}

.ig {
  color: gray;
  padding-left: 1rem;
}

/*--------------------------------------------------------------------------------*/
.product-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.4em;
  text-decoration: none;
  transition: color 0.3s;
}
.product-name-black {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 2.4em;
  text-decoration: none;
  transition: color 0.3s;
}
.cookie-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s;
}
.bossforskiy-logo {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 32px;
  text-decoration: none;
  transition: color 0.3s;
}
.text-header-logo {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #222222;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s;
}
@media screen and (max-width: 768px) {
  .text-header-logo {
    font-size: 1.5em;
    margin-left: -20px;
  }
}
@media screen and (max-width: 480px) {
  .text-header-logo {
    font-size: 1.4em;
    margin-left: -50px;
  }
}
.hero-title-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.4em;
  text-decoration: none;
  transition: color 0.3s;
}
.hero-new-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
  transition: color 0.3s;
}
.privacy-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 0.9em;
  text-decoration: none;
  transition: color 0.3s;
}
.privacy-text-sm {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  transition: color 0.3s;
}
.lang-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  transition: color 0.3s;
}
.lang-name-hover {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  background: linear-gradient(to right, #000 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.25s ease-out;
}

.lang-name-hover:hover {
  background-position: left bottom;
  color: #fff;
}

.hero-button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #000;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
  background: linear-gradient(to right, #000 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.25s ease-out;
}
.hero-button:hover {
  background-position: left bottom;
  color: #fff;
}

.lang-name-white {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  background: linear-gradient(to right, #fff 50%, #000 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.25s ease-out;
}
.lang-name-white:hover {
  background-position: left bottom;
  color: #000;
}
.cookie-desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #525252;
  font-size: 0.9em;
  text-decoration: none;
  transition: color 0.3s;
}
.product-detail-desc-black {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #525252;
  font-size: 1.05em;
  text-decoration: none;
  transition: color 0.3s;
}
.product-detail-desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s;
}
.detail-product-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #171717;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s;
}
.animate-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
  font-size: 2.8em;
  text-decoration: none;
  transition: color 0.3s;
}
.intro-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.6em;
  text-decoration: none;
  transition: color 0.3s;
}
.intro-region-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
  font-size: 0.85em;
  text-decoration: none;
  transition: color 0.3s;
}
.intro-region-name:hover {
  color: #ffffff;
  background-color: #000000;
}
.animate-text-white {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.8em;
  text-decoration: none;
  transition: color 0.3s;
}
.animate-text-white-lower {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s;
}
.animate-text-sm {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
  font-size: 2.6em;
  text-decoration: none;
  transition: color 0.3s;
}
.animate-text-smm {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #696969;
  text-transform: uppercase;
  font-size: 1.6em;
  text-decoration: none;
  transition: color 0.3s;
}
.animate-subtext {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #303030;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  transition: color 0.3s;
}
